* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#fff;
    width: 360px;
    height: 480px;
    overflow-y: hidden;
}

#container {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
}


#mondaine {

}

#brand {
	position: absolute;
	left: 0;
	top: 150px;
	width: 100%;
}
#brand h1 {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
}


#markers, #handles {
	width: 100%;
	height: 100%;
	margin-top: 80px;
	position: absolute;
	display: block;
}

#markers .marker {
	width: 10px;
	left: 175px;
	height: 320px;
	position: absolute;
}

#markers .marker:before,
#handles .handle:before {
	background: #111;
	display: block;
	content: " ";
}

#markers .marker.shallow-tip:before {
	margin-left: 2.5px;
	width: 5px;
	height: 13px;
}

#markers .marker.thick-tip:before {
	height: 40px;
}

#handles .handle {
	width: 15px;
	left: 173px;
	height: 320px;
	position: absolute;	
}

#handles .handle:before {
	position: absolute;
	width: inherit;
}

#handles .hour-handle { transform: rotate3d(0, 0, 1, -45deg); }
#handles .hour-handle:before {
	height: 140px;
	top: 50px;
}

#handles .minute-handle { transform: rotate3d(0, 0, 1, 45deg); }
#handles .minute-handle:before {
	height: 185px;
	top: 5px;
}

#handles .second-handle { transform: rotate3d(0, 0, 1, 180deg); }
#handles .second-handle:before {
	width: 3px;
	margin-left: 6px;
	height: 160px;
	top: 50px;
	background-color: red !important;
}

#handles .second-handle:after {
	width: 18px;
	height: 18px;
	left: -1px;
	top: 50px;
	border-radius: 10px;
	position: absolute;
	background-color: red;
	content: " ";
}


#handleCentre {
	position: absolute;
	background-color: red;
	width: 9px;
	height: 9px;
	border-radius: 10px;
	left: 50%;
	top: 50%;
	margin-left: -4px;
	margin-top: -4px;
}

#handleCentre:before {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: #111;
	left: -11px;
	top: -11px;
	content: " ";
	transform: scale(0.1, 0.1);
}